@model HomeVM;

<!--==========================
    ABOUT US PAGE 01 START
===========================-->
@foreach (var item in Model.About)
{
    

<section class="about_us_story pt_95 xs_pt_65">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 wow fadeInLeft">
                <div class="about_us_story_text">
                    <h2>@item.Title</h2>
                    <p>
                       @item.Description
                    </p>
                    <a class="common_btn" href="menu_03.html">
                        <span class="icon">
                            <img src="assets/images/eye.png" alt="order" class="img-fluid w-100">
                        </span>
                        View All Menu
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about_us_story_img">
                    <div class="row">
                        <div class="col-lg-8 col-sm-6 wow fadeInLeft">
                           
                                <div class="about_us_story_img_large">
                                    <img src="assets/images/@item.Image" alt="story" class="img-fluid w-100">
                                </div>
                            
                           
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInRight">
                            <div class="about_us_story_img_small">
                                <img src="assets/images/@item.Image2" alt="story" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInLeft">
                            <div class="about_us_story_img_small">
                                <img src="assets/images/@item.Image3" alt="story" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-6 wow fadeInRight">
                            <div class="about_us_story_img_large">
                                <img src="assets/images/@item.Image4" alt="story" class="img-fluid w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_showsase pt_95 xs_pt_65">
    <div class="row">
        <div class="col-lg-4 col-sm-6 wow fadeInLeft">
            <div class="about_showsase_img_large">
                <img src="assets/images/@item.Image5" alt="showcase" class="img-fluid w-100">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp">
            <div class="about_showsase_img_small">
                <img src="assets/images/@item.Image6" alt="showcase" class="img-fluid w-100">
            </div>
            <div class="about_showsase_img_small">
                <img src="assets/images/@item.Image7" alt="showcase" class="img-fluid w-100">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInRight">
            <div class="about_showsase_img_large">
                <img src="assets/images/@item.Image8" alt="showcase" class="img-fluid w-100">
            </div>
        </div>
    </div>
</section>
}


<section class="testimonial mt_120 xs_mt_100" style="background: url(assets/images/testimonial_bg.jpg);">
    <div class="testimonial_overlay pt_250 xs_pt_100">
        <div class="container mt_20">
            <div class="row wow fadeInUp">
                <div class="col-md-9">
                    <div class="testimonial_content">
                        <div class="row testi_slider">
                            <div class="col-12">
                                <div class="single_testimonial">
                                   
                                    <p class="description">
                                        "I love that solvency lets us manage everything in one
                                        place. It's super helpful to be able to listen to voice samples, upload our
                                        own lists, and find quality salespeople that can grow with our team."
                                    </p>
                                    <div class="single_testimonial_footer">
                                        <div class="img">
                                            <img src="assets/images/client_img_1.png" alt="clien"
                                                 class="img-fluis w-100">
                                        </div>
                                        <h3>Indigo Violet <span>Co - Founder</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single_testimonial">
                                  
                                    <p class="description">
                                        "I love that solvency lets us manage everything in one
                                        place. It's super helpful to be able to listen to voice samples, upload our
                                        own lists, and find quality salespeople that can grow with our team."
                                    </p>
                                    <div class="single_testimonial_footer">
                                        <div class="img">
                                            <img src="assets/images/client_img_2.png" alt="client"
                                                 class="img-fluis w-100">
                                        </div>
                                        <h3>jihan ahmed <span>Co - Founder</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="testimonial_video">
                        <a class="venobox play_btn" data-autoplay="true" data-vbtype="video"
                          
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter_area">
    <div class="counter_bg pt_30 pb_35">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 wow fadeInUp">
                    <div class="single_counter">
                        <h2 class="counter">45</h2>
                        <span>Dishes</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp">
                    <div class="single_counter">
                        <h2 class="counter">68</h2>
                        <span>Location</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp">
                    <div class="single_counter">
                        <h2 class="counter">32</h2>
                        <span>Chefs</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp">
                    <div class="single_counter">
                        <h2 class="counter">120</h2>
                        <span>Cities</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_shape chefs_3 mt_110 xs_mt_90">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 wow fadeInLeft">
                <div class="section_heading heading_left mb_25">
                    <h2>Meet with our Chefs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                @foreach (var item in Model.Chef)
                {
                    
                
                <div class="single_chef_3">
                    <div class="single_chef_3_img">
                        <img src="assets/images/@item.Images" alt="Chef" class="img-fluid w-100">
                      
                    </div>
                    <div class="single_chef_text_3">
                        <a class="title" >@item.Name</a>
                        <p>Main Chef</p>
                    </div>
                </div>
                }
            </div>
           
        </div>
        <a class="common_btn wow fadeInRight" href="chefs.html">
            View All Chef <i class="far fa-chevron-right"></i>
        </a>
    </div>
</section>


<!--==========================
    ABOUT US PAGE 01 END
===========================-->
